header {
    background-color: #fff;
    grid-area: head;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr ;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header img {
    width: 70%;
}

header .imgEback {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .bi {
    font-size: 40px;
}

header .nomeEMembros {
    
}

header #info-events {
    font-size: .7rem;
}